@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

html,
body,
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f9f5;
}

body {
    touch-action: pan-x pan-y;
    user-select: none;
    zoom: reset;
}